footer {
  background-color: #555;
  color: #ffffff;
  padding: 0px;
  font-family: Century Gothic;
  letter-spacing: 2px;
}

footer a {
  color: #f5f5f5;
}
footer p{
  color: #ffffff;
}

footer a:hover {
  color: #ffffff;
  text-decoration: none;
}

.form-control {
  border-radius: 0;
}

textarea {
  resize: none;
}
